@model StarWars_App.Models.ViewModels.CharacterVM

@{
    ViewData["Title"] = "Character Info";
}
<br />
<h1>@Model.Name (@Model.NameOrign)</h1>
<br />
<br />
<div class="container">
    <div class="row row-cols-4">
        <div class="col-3">
            <div class="row" style="height: 24px">
                <div class="col">
                    <b>День рождения</b>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            @Html.DisplayFor(model => model.Birthday)
                        </div>
                        <div class="col">
                            <p style="margin-left: -30px">
                                ДБЯ
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col">
                    <b>Планета</b>
                </div>
                <div class="col">
                    @Html.DisplayFor(model => model.Planet)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col">
                    <b>Пол</b>
                </div>
                <div class="col">
                    @Html.DisplayFor(model => model.Sex)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col">
                    <b>Раса</b>
                </div>
                <div class="col">
                    @Html.DisplayFor(model => model.Race)
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row" style="height: 24px">
                <div class="col">
                    <b>Рост</b>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            @Html.DisplayFor(model => model.Height)
                        </div>
                        <div class="col">
                            <p style="margin-left: -30px">
                                M
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col">
                    <b>Цвет волос</b>
                </div>
                <div class="col">
                    @Html.DisplayFor(model => model.HairColor)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col">
                    <b>Цвет глаз</b>
                </div>
                <div class="col">
                    @Html.DisplayFor(model => model.EyeColor)
                </div>
            </div>
        </div>
        <div class="col-6 films" style="margin-top: -30px;">
            <div class="col" style="text-align:center">
                <b>Фильмы</b>
            </div>
            <br />
            <div class="col" style="text-align:center">
                @if (Model.CharacterFilms?.ToList().Count > 0)
                {
                    var count = 1;
                    foreach (var film in Model.CharacterFilms)
                        {
                            
                            @film.Text
                            @if (count != Model.CharacterFilms?.ToList().Count)
                            {
                                <p style="margin-bottom: 0px; height: 15px">*</p>
                            }
                            count++;
                        }
                }
            </div>
        </div>   
    </div>
    <br />
    <br />
    <div>
        @Model.Description
    </div>
</div>

<br />
<br />

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a asp-action="DeleteCharacter" asp-area="" asp-controller="Home" asp-route-id=@Model.Id class="btn btn-secondary me-md-2" style="margin-right: 20px">Удалить</a>
    <a asp-action="EditCharacter" asp-area="" asp-controller="Home" asp-route-id=@Model.Id class="btn btn-secondary">Редактировать</a>
</div>
